{{define "header"}}
    <header>
        <nav>
            <ul>
                <li>Home</li>
            </ul>
            <ul>
                <li>Contact</li>
            </ul>
            <ul>
                <li>Blogs</li>
            </ul>
        </nav>
    </header>
{{end}}